<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="" xml:lang="en" lang="en" dir="ltr">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{PageTitle}Bucardo</title>
		<style type="text/css" media="screen, projection">/*<![CDATA[*/
			@import "/css/common/shared.css";
			@import "/css/BucardoGreen/main-glossy.css";
		/*]]>*/</style>
		<link rel="stylesheet" type="text/css" media="print" href="?303" />
		<!--[if lt IE 7]><meta http-equiv="imagetoolbar" content="no" /><![endif]-->
	</head>
<body class="mediawiki  ltr ">
	<div id="globalWrapper">
		<div id="column-content">
	<div id="content">
		<a name="top" id="top"></a>
		<div id="bodyContent">
			<div id="contentSub"></div>
			<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
{{ content }}
</div>
			<div id='catlinks' class='catlinks catlinks-allhidden'></div>			<!-- end content -->
			<div class="visualClear"></div>
		</div>
	</div>
		</div>
		<div id="column-one">
	<div class="portlet" id="p-logo">
	<h2><a href="/"Array>bucardo.org</a></h2>
	</div>
	<script type="text/javascript"> if (window.isMSIE55) fixalpha(); </script>
		</div><!-- end of the left (by default at least) column -->
			<div class="visualClear"></div>
</div>
</body></html>
